<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="images/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="indexlogin.html" class="logo">
									<span class="symbol"><img src="images/icons/icon.png" alt="" /></span><span class="title">OceanFlux</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="indexlogin.html">Home</a></li>
							<li><a href="aboutus.html">About us</a></li> 
							<li><a href="partners.html">Partners</a></li> 
							<li><a href="logIn.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> LogIn</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
                            <h1>About us</h1>
                            <span class="image main"><img src="images/Banner1.jpg" alt="" /></span>
                            <p>We are here to turn your vacation dreams into a reality. Get in touch with us to start planning your next escape to the beaches of Mexico with OceanFlux. Trust us to create memories that will last a lifetime!</p>
                            <h3>Our Mission</h3>
                            <p>At OceanFlux, our mission is to make your beach getaway dreams come true. We strive to provide personalized travel experiences, combining the serenity of Mexican beaches with high-quality services, so that every moment of your journey is unforgettable.</p>
                            <p>With years of experience in the tourism industry, the OceanFlux team is composed of passionate experts who have an intimate knowledge of Mexico's beaches. We take pride in offering professional and personalized service, backed by a deep understanding of destinations, hotels, and activities that will make your experience exceptional.</p>
                            <h3>Your Journey, Your Style</h3>
                            <p>At OceanFlux, we believe that every traveler is unique. That's why we work closely with you to understand your preferences and create a vacation package that suits your travel style. Whether you're seeking total relaxation on the beach, thrilling adventures, or a combination of both, we are here to turn your wishes into reality.</p>
                            <p>Quality is the cornerstone of OceanFlux. From hotel selection to activity planning, we are committed to providing you with the best in every aspect of your journey. We collaborate with reliable suppliers and carefully curate every detail to ensure you enjoy a seamless vacation experience.</p>
                            <p>At OceanFlux, we value the natural and cultural richness of Mexico. We work to make your experience not only enjoyable but also enriching. From exploring pristine beaches to immersing yourself in vibrant local culture, we invite you to discover the beauty of Mexico hand in hand with OceanFlux.</p>
                        </div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
							</section>
							<section>
								<h2>Follow</h2>
								
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>