<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="images/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index1.html" class="logo">
									<span class="symbol"><img src="images/icons/icon.png" alt="" /></span><span class="title">OceanFlux</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="aboutuslogin.html">About us</a></li> 
						<li><a href="hoteles.html">Hotels</a></li>
						<li><a href="partnerslogin.html">Partners</a></li> 
						<li><a href="login.html"><i class="fa-solid fa-user"></i> Log out</a></li>
						<li><a href="misviajes.html"><i class="fa-solid fa-umbrella-beach"></i> My Trips</a></li>
					</ul>
				</nav>

				<!-- Main -->
                <div id="main">
                    <div class="inner">
                        <h1>My Trips</h1>
                
                        <section>
                            <div class="container">
                                <div class="row align-items-center">
									<table>
										<thead>
											<tr>
												<th>ID Viaje</th>
												<th>Playa</th>
												<th>Hotel</th>
												<th>Precio/Noche</th>
												<th>Num Noches</th>
												<th>Num Personas</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody id="tablaViajes">
										</tbody>
									</table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                
                
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								
							</section>
							<section>
								<h2>Follow</h2>
								
							</section>
							<ul class="copyright">
								<li>&copy; OceanFlux. All rights reserved</li><li>Design: Renata, Yami, Francisco</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="../scripts/misviajes.js"></script>

	</body>
</html>