<!DOCTYPE HTML>
<html>
	<head>
		<title>OceanFlux</title>
  		<link rel="icon" type="image/png" href="images/icons/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <script src="https://kit.fontawesome.com/4167f19ec8.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="indexlogin.html" class="logo">
									<span class="symbol"><img src="images/icons/icon.png" alt="" /></span><span class="title">OceanFlux</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="indexlogin.html">Home</a></li>
						<li><a href="aboutus.html">About us</a></li> 
						<li><a href="partners.html">Partners</a></li> 
						<li><a href="logIn.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> LogIn</a></li>
					</ul>
				</nav>

				<!-- Main -->
                <div id="main">
                    <div class="inner">
                        <h1>Partners</h1>
                
                        <section>
                            <div class="container">
                                <div class="row align-items-center">
                
                                    <div class="card2">
                                        <div class="card2-content">
                                            <h4 class="card2-title">PriceTravel</h4>
                                            <p class="card2-subtitle">PriceTravel is an online agency that offers a wide range of options for national and international travel. They provide vacation packages, flights, hotels, and activities.</p>
                                        </div>
                                        <img src="./images/empresas/PriceTravel.PNG" class="card2-image-circle">
                                    </div>

                                    <div class="card2">
                                        <div class="card2-content">
                                            <h4 class="card2-title">Despegar</h4>
                                            <p class="card2-subtitle">Despegar es una agencia de viajes en línea que opera en varios países de América Latina, incluido México. Ofrecen opciones de vuelos, hoteles, paquetes y actividades</p>
                                        </div>
                                        <img src="./images/empresas/Despegar.PNG" class="card2-image-circle">
                                    </div>
                
                                </div>
                
                                <div class="row align-items-center">
                
                                    <div class="card2">
                                        <div class="card2-content">
                                            <h4 class="card2-title">Best Day</h4>
                                            <p class="card2-subtitle">Best Day es una agencia de viajes en línea con una fuerte presencia en México. Ofrece servicios de reserva para vuelos, hoteles, paquetes vacacionales y actividades, tanto en México como en otros destinos</p>
                                        </div>
                                        <img src="./images/empresas/BestDay.PNG" class="card2-image-circle">
                                    </div>

                                    <div class="card2">
                                        <div class="card2-content">
                                            <h4 class="card2-title">Viajes El Corte Inglés</h4>
                                            <p class="card2-subtitle">Aunque es originaria de España, Viajes El Corte Inglés tiene presencia en México y es conocida por ofrecer servicios de alta calidad en la planificación de viajes, incluyendo paquetes vacacionales y reservas de vuelos y hoteles</p>
                                        </div>
                                        <img src="./images/empresas/CorteIngles.PNG" class="card2-image-circle">
                                    </div>
                
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                
                
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								
							</section>
							<section>
								<h2>Follow</h2>
								
							</section>
							<ul class="copyright">
								<li>&copy; OceanFlux. All rights reserved</li><li>Design: Renata, Yami, Francisco</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>